img.speaker {
    width: 80px;
    height: 80px;
}

div.talks div {
    float:left;
}

img.logo.large {
    width:150px;
    height:100px;
}

img.logo.medium {
    width:100px;
    height:50px;
}

img.logo.small {
    width:50px;
    height:50px;
}

.meetups table td {
    padding: 10px;
}

ul.meetups {
    list-style-type: none;
}

.btn-social {
    color:#fff;
    background-color:#444;
    border-color:rgba(0,0,0,0.2)
}

.btn-social:active {
    background-image:none
}

.btn-social.disabled {
    background-color:#444;border-color:rgba(0,0,0,0.2)
}

.btn-social .badge {
    color:#444;
    ackground-color:#fff
}
