img.speaker {
    width: 80px;
    height: 80px;
}

div.talks div {
    float:left;
}

img.logo.large {
    width:150px;
    height:100px;
}

img.logo.medium {
    width:100px;
    height:50px;
}

img.logo.small {
    width:50px;
    height:50px;
}

#meetups table td {
    padding: 10px;
}

ul#meetups {
    list-style-type: none;
}

.btn-social {
    color:#fff;
    background-color:#444;
    border-color:rgba(0,0,0,0.2)
}

.btn-social:active {
    background-image:none
}

.btn-social.disabled {
    background-color:#444;border-color:rgba(0,0,0,0.2)
}

.btn-social .badge {
    color:#444;
    ackground-color:#fff
}


/*
|------------------------------------------------------------------------------------
| BG Slider
|------------------------------------------------------------------------------------
*/
.carousel .item , #myCarousel{height: 320px;}
.carousel-inner > .item > img{display: none; }
.carousel-inner > .item:nth-of-type(1){background-color: #8585ad;}
.carousel-inner > .item:nth-of-type(2){background-color: #9494b8;}
.carousel-inner > .item:nth-of-type(3){background-color: #7575a3;}
.carousel-inner > .item:nth-of-type(4){background-color: #8585ad;}
.carousel-control.right, .carousel-control.left{background-image: none;}
.navbar-brand>img{ max-height: 100%; width: auto;}

.background-image {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;

    display: block;
    background-image: url('./../images/algiers-meetup-1.jpg'), url('./../images/algiers-meetup-2.jpg');
    background-position: left, right;
    background-repeat: no-repeat;
    -webkit-filter: blur(4px);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.announcer h1,h2 {
    font-weight: bold;
    text-shadow: none;
}

.announcer p {
    #color: lightgray;
    font-weight: bold;
    text-shadow: none;
}

.carousel-caption-first {
    height: 330px;
}

h2#current-agenda {
    font-size: 16px;
    font-weight: bold;
}

.carousel {
    margin-bottom: 15px;
}