.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
	width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
   }

   .modal-content {
   	border-radius: 0;
    top: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
   }

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  padding: 10px;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  line-height: 60px;
}

.modal-body {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
}


button.close {
	font-size: 4em;
	font-weight:300;
}