// For media queries.
$small:             30em; // Portrait mobile to landscape mobile
$medium:            50em; // Portrait tablet to landscape tablet
$large:             68.750em; // Small desktop to large desktop


// Intro image paths
$first-intro-image: "../images/intros/intro_1.jpg";
$second-intro-image: "../images/intros/intro_2.jpg";
$third-intro-image: "../images/intros/intro_3.jpg";